---
# clang-analyzer-cplusplus.NewDeleteLeaks does not really work with QObject ownership
# readability-magic-numbers is duplicate of cppcoreguidelines-avoid-magic-numbers
# cppcoreguildelines-pro-type-vararg and hicpp-vararg are disabled as they are confused by
#   qCDebug/qCWarning syntax

Checks: -*,
    bugprone-*,
    clang-analyzer-*,
    -clang-analyzer-cplusplus.NewDeleteLeaks,
    cppcoreguidelines-*,
    -cppcoreguidelines-owning-memory,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -cppcoreguidelines-pro-type-vararg,
    google-*,
    -google-readability-namespace-comments,
    -google-runtime-references,
    -google-build-using-namespace,
    hicpp-*,
    -hicpp-vararg,
    misc-*,
    -misc-non-private-member-variables-in-classes,
    modernize-*,
    -modernize-use-trailing-return-type,
    performance-*,
    readability-*,
    -readability-magic-numbers
