[Desktop Entry]
Name=Plasma Pass
Name[ca]=Plasma Pass
Name[ca@valencia]=Plasma Pass
Name[gl]=Pass para Plasma
Name[nl]=Plasma Pass
Name[pt]=Plasma Pass
Name[sk]=Plasma Pass
Name[sv]=Plasma pass
Name[uk]=Паролі Плазми
Name[x-test]=xxPlasma Passxx
Comment=Plasma applet to access passwords form the pass password manager
Comment[ca]=Miniaplicació del Plasma per accedir al formulari de contrasenyes del gestor de les contrasenyes de pas
Comment[ca@valencia]=Miniaplicació del Plasma per accedir al formulari de contrasenyes del gestor de les contrasenyes de pas
Comment[gl]=Miniaplicativo de Plasma para acceder aos contrasinais do xestor de contrasinais pass
Comment[nl]=Plasma-applet voor toegang tot wachtwoordenformulier van de wachtwoordbeheerder pass
Comment[pt]=Elemento do Plasma para aceder às senhas do gestor de senhas Pass
Comment[sk]=Plasma applet na prístup k heslám cez správcu hesiel
Comment[sv]=Plasma miniprogram för att komma åt lösenord från lösenordshanteraren pass
Comment[uk]=Аплет Плазми для доступу до форми паролів програми для керування паролями
Comment[x-test]=xxPlasma applet to access passwords form the pass password managerxx

Icon=lock
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Author=Daniel Vrátil
X-KDE-PluginInfo-Email=dvratil@kde.org
X-KDE-PluginInfo-Name=plasmapass
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://www.kde.org/plasma-desktop
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv2
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=org.kde.plasma.pass

X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=SystemServices

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
