[Desktop Entry]
Name=Plasma Pass
Name[ast]=Plasma Pass
Name[az]=Plasma Pass
Name[ca]=Plasma Pass
Name[ca@valencia]=Plasma Pass
Name[cs]=Plasma Pass
Name[da]=Plasma Pass
Name[de]=Plasma Pass
Name[el]=Plasma Pass
Name[en_GB]=Plasma Pass
Name[es]=Plasma Pass
Name[et]=Plasma Pass
Name[eu]=Plasma Pass
Name[fi]=Plasma Pass
Name[fr]=Plasma Pass
Name[gl]=Pass para Plasma
Name[hi]=प्लाज़्मा पास
Name[hu]=Plasma Pass
Name[ia]=Plasma Pass
Name[it]=Plasma Pass
Name[ko]=Plasma 패스
Name[lt]=Plasma Pass
Name[nl]=Plasma Pass
Name[nn]=Plasma Pass
Name[pa]=ਪਲਾਜ਼ਮਾ ਪਾਸ
Name[pl]=Plazma Hasło
Name[pt]=Plasma Pass
Name[pt_BR]=Plasma Pass
Name[ro]=Plasma Pass
Name[ru]=Plasma Pass
Name[sk]=Plasma Pass
Name[sl]=Plasma Pass
Name[sv]=Plasma pass
Name[uk]=Паролі Плазми
Name[x-test]=xxPlasma Passxx
Name[zh_CN]=Plasma Pass
Name[zh_TW]=Plasma Pass
Comment=Plasma applet to access passwords from the 'pass' password manager
Comment[ast]=L'aplicación de Plasma p'acceder a les contraseñes del xestor de contraseñes pass
Comment[az]='pass' şifrə menecerindən şifrələrə giriş üçün Plasma əlavəsi
Comment[ca]=Miniaplicació del Plasma per a accedir a les contrasenyes des del gestor de contrasenyes «pas»
Comment[ca@valencia]=Miniaplicació del Plasma per a accedir a les contrasenyes des del gestor de contrasenyes «pas»
Comment[cs]=Applet Plasma pro přístup k heslům ze správce hesel 'pass'
Comment[da]=Plasma-applet til at få adgang til adgangskoder fra adgangskodehåndteringen 'pass'
Comment[de]=Plasma-Miniprogramm für den Zugriff auf Passwörter Passwort-Verwaltung Pass
Comment[el]=Μικροεφαρμογή του Plasma για την πρόσβαση σε κωδικούς από το διαχειριστή κωδικών πρόσβασης 'pass'
Comment[en_GB]=Plasma applet to access passwords from the 'pass' password manager
Comment[es]=Miniaplicación de Plasma para acceder a las contraseñas desde el gestor de contraseñas «pass»
Comment[et]=Plasma aplett paroolihalduri 'pass' paroolide kasutamiseks
Comment[eu]=«pass» pasahitz kudeatzailetik pasahitzak atzitzeko Plasma aplikaziotxo bat
Comment[fi]=Plasma-sovelma salasanojen kyselemiseksi ”pass”-salasanahallinnasta
Comment[fr]=Applet Plasma permettant d'accéder aux mots de passe du gestionnaire de mots de passe « pass »
Comment[gl]=Miniaplicativo de Plasma para acceder aos contrasinais do xestor de contrasinais «pass»
Comment[hi]='pass' पासवर्ड प्रबंधक से पासवर्ड पहुँच के लिए प्लाज़्मा एप्पलेट
Comment[hu]=Plasma kisalkalmazás a jelszavak elérésére a „pass” jelszókezelőben
Comment[ia]=Applet de Plasma per acceder a contrasignos ex le gerente de contrasigno 'pass'
Comment[it]=Applet per Plasma per accedere alle password dal gestore delle password «pass»
Comment[ko]='패스' 암호 관리자에 저장된 암호에 접근하는 Plasma 애플릿
Comment[lt]=Plasma programėlė, skirta gauti prieigą prie slaptažodžių iš "pass" slaptažodžių tvarkytuvės
Comment[nl]=Plasma-applet voor toegang tot wachtwoorden vanuit de wachtwoordenbeheerder pass
Comment[nn]=Plasma-element for å få tilgang til passord frå passordhandsamaren «pass»
Comment[pa]='pass' ਪਾਸਵਰਡ ਮੈਨੇਜਰ ਤੋਂ ਪਾਸਵਰਡ ਵਰਤਣ ਲਈ ਪਲਾਜ਼ਮਾ ਐਪਲਿਟ ਹੈ
Comment[pl]=Aplet Plazmy do dostępu do formularza hasła z programu do zarządzania hasłami
Comment[pt]=Elemento do Plasma para aceder às senhas do gestor de senhas 'pass'
Comment[pt_BR]=Miniaplicativo do Plasma para acessar as senhas do gerenciador de senhas 'pass'
Comment[ro]=Miniaplicație Plasma pentru accesarea parolelor din gestionarul de parole „pass”
Comment[ru]=Виджет для получения паролей из менеджера «pass»
Comment[sk]=Aplet prostredia Plasma na prístup k heslám zo správcu hesiel "pass"
Comment[sl]=Plazmin applet za dostop do gesel od upravitelja gesla 'pass'
Comment[sv]=Plasma miniprogram för att komma åt lösenord från lösenordshanteraren 'pass'
Comment[uk]=Аплет Плазми для доступу до паролів програми для керування паролями «pass»
Comment[x-test]=xxPlasma applet to access passwords from the 'pass' password managerxx
Comment[zh_CN]=从 'pass' 密码管理器访问密码的 Plasma 小程序
Comment[zh_TW]=用來從「Pass」密碼管理程式存取密碼的 Plasma 元件

Icon=lock
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Author=Daniel Vrátil
X-KDE-PluginInfo-Email=dvratil@kde.org
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://www.kde.org/plasma-desktop
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv2
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=org.kde.plasma.pass

X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=SystemServices

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
